.separation {
    height: 10%;
    width: 100%;
}


/*-------------------------*/


/* styling of landing page */


/*-------------------------*/

.landing {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*------------------*/


/* styling of quote */


/*------------------*/

.quote-container {
    max-width: 50%;
    width: max-content;
    height: max-content;
    padding: 5%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(196, 196, 196, 0.42);
    z-index: 10;
}

.quote-text {
    font-size: 3em;
    font-weight: thin;
    font-family: 'Amatic SC', cursive;
}

.author-content {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

.author {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.author-separation {
    width: 30%;
    height: 0.5vh;
    background-color: white;
}

#particles canvas {
    display: block;
}

#particles {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0;
}


/*-----------------------*/


/* styling of about page */


/*-----------------------*/

.about {
    width: 100%;
    height: 100%;
}

.title-left {
    width: 10%;
    margin-bottom: 2%;
}

.title-underline-left {
    width: 100%;
    height: 0.5vh;
    background-color: #94a5d1;
}

.title-content div {
    display: flex;
    flex-direction: row-reverse;
    color: #94a5d1;
}

.about-content {
    width: auto;
    height: 100%;
    max-height: 62vh;
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cv {
    margin-left: 2%;
    width: 60vh;
}

.cv img {
    width: 80%;
    height: auto;
}

.presentation {
    width: 50%;
    height: 90%;
    padding: 2%;
    background-color: rgba(126, 126, 126, 0.6);
}

.presentation p {
    font-size: 2em;
    text-align: justify;
    text-justify: auto;
}

.title-right {
    width: 97vw;
    margin-bottom: 2%;
    display: flex;
    flex-direction: row-reverse;
}

.title-underline-right {
    right: 100%;
    width: 170%;
    height: 0.5vh;
    background-color: #94a5d1;
}

.projects {
    width: 100%;
    height: 100%;
}

.projects-content {
    width: auto;
    height: 100%;
    max-height: 62vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
}


/*
.project {
    width: 20vw;
    height: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    background-image: url("../assets/DesignProjects.jpg");
    background-size: cover;
    border-radius: 50%;
}


 .project p {
    padding: 9vw;
    backdrop-filter: blur(5px);
    border-radius: 50%;
} */

.projects-carrousel {
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
}

.projects-carrousel .project-item {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    overflow: hidden;
    transition: all 300ms ease-in-out;
    z-index: -1;
    opacity: 0;
}

.project-item img {
    width: 100%;
    height: 100%;
    filter: brightness(1);
    object-fit: fill;
    filter: blur(2px);
}

.project-item.active {
    opacity: 1;
    z-index: 99;
    box-shadow: 0px 0px 105px -35px rgba(0, 0, 0, 0.75);
}

.project-item.prev {
    z-index: 2;
    opacity: 0.25;
    transform: translate(-125%, -50%);
}

.project-item.next {
    z-index: 2;
    opacity: 0.25;
    transform: translate(25%, -50%);
}

.projects .button-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30vw;
    z-index: 100;
}

.button-container .button-left,
.button-container .button-right {
    color: #fff;
    font-size: 2em;
    cursor: pointer;
    position: relative;
    opacity: 0.75;
    transition: all 300ms ease-in-out;
}

.button-container .button-left:hover,
.button-container .button-right:hover {
    opacity: 1;
}

.button-container .button-left:before {
    content: "";
    position: fixed;
    /*
    top: 50%;
    left: -20%;
    transform: translate(-50%, -50%);*/
    width: 5vw;
    height: 5vw;
    background-color: rgba(0, 0, 0, 1);
    border-radius: 50%;
    z-index: -99;
}

.button-container .button-right:before {
    content: "";
    position: fixed;
    /*
    top: 50%;
    left: 120%;
    transform: translate(-50%, -50%);*/
    width: 5vw;
    height: 5vw;
    background-color: rgba(0, 0, 0, 1);
    border-radius: 50%;
    z-index: -99;
}

.button-container .button-left:nth-child(1),
.button-container .button-right:nth-child(1) {
    float: left;
}

.button-container .button-left:nth-child(2),
.button-container .button-right:nth-child(2) {
    float: right;
}

.centered {
    display: block;
    color: white;
    font-size: 200%;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: brightness(1);
}

.active .bright {
    filter: brightness(0.4);
    transition: filter 300ms ease-in-out;
}

.bright {
    filter: brightness(1);
    transition: filter 300ms ease-in-out;
}

.active:hover .bright {
    filter: brightness(1);
    transition: filter 300ms ease-in-out;
}

.active:hover .centered {
    display: none;
}

.btn {
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    z-index: 100;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}