html,
body {
    margin: 0px;
    height: 100%;
    background-image: url(Interact.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: hidden;
    overflow-x: hidden;
}

.div {
    height: 500px;
    width: 1000px;
}

.flame {
    z-index: 6;
    position: relative;
    width: 500px;
    cursor: pointer;
    opacity: 0;
    left: 300px;
    top: 300px;
}

.vortex {
    display: inline;
    z-index: 5;
    position: relative;
    width: 720px;
    cursor: pointer;
    opacity: 0;
    left: 565px;
    top: 415px;
}

.SparksF {
    display: inline;
    z-index: 4;
    position: relative;
    width: 470px;
    left: -200px;
    top: 350px;
}

.SparksV {
    display: inline;
    z-index: 3;
    position: relative;
    width: 470px;
    left: 680px;
    top: 80px;
}

.Trigger {
    z-index: 9;
    position: relative;
    left: 835px;
    top: -435px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.Clock {
    z-index: 7;
    position: relative;
    width: 800px;
    display: none;
    top: -560px;
    left: 450px;
}

.Time {
    z-index: 8;
    position: relative;
    width: 800px;
    transform: rotate(180deg);
    display: none;
    top: -1365px;
    left: 450px;
}

.SparksJ {
    display: inline;
    z-index: 10;
    position: relative;
    width: 470px;
    left: -210px;
    top: -120px;
}