html {
    background-color: #111111;
}

body {
    padding: 0;
    margin: 0;
}

.main-container {
    color: white;
    height: 100vh;
    width: 100vw;
}

.main-navbar {
    background-color: #373737;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-navbar>* {
    margin: 0;
}

.main-navbar-list {
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    justify-content: space-between;
    margin-right: 1%;
    height: 100%;
}

.main-navbar-item {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-navbar-item>a {
    vertical-align: middle;
    text-decoration: none;
    color: white;
    padding-top: 14%;
    padding-bottom: 14%;
}

.main-navbar-item>a:hover {
    background-color: #6A6A6A;
}