    html {
        background-color: #111111;
    }
    
    body {
        padding: 0;
        margin: 0;
        width: 100vw;
        height: 100vh;
    }
    /* styling of navbar */
    
    .main-container {
        color: white;
        height: 100%;
        width: 100%;
    }
    
    .main-navbar {
        background-color: #373737;
        height: 10%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .main-navbar>* {
        margin: 0;
    }
    
    .main-navbar>h1 {
        width: 20%;
    }
    
    .main-navbar-list {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        list-style: none;
        margin-right: 2%;
        height: 100%;
    }
    
    .main-navbar-item {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: white;
        width: max-content;
        height: 100%;
        padding: 0% 2% 0% 2%;
    }
    
    .main-navbar-item:hover {
        background-color: #6A6A6A;
    }
    
    .main-navbar-item>div {
        width: max-content;
    }
    /* styling of landing page */
    
    .landing {
        height: 90%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* styling of quote */
    
    .quote-container {
        width: 50%;
        height: 30%;
        padding: 5%;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: rgba(196, 196, 196, 0.42);
    }
    
    .quote-author {}