html {
    background-color: #111111;
}

body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.main-container {
    color: white;
    height: 100%;
    width: 100%;
}

.main-navbar {
    background-color: #373737;
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-navbar>* {
    margin: 0;
}

.main-navbar-list {
    width: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin-right: 1%;
    height: 100%;
}

.main-navbar-item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    width: max-content;
    height: 100%;
    padding: 0% 10% 0% 10%;
}

.main-navbar-item:hover {
    background-color: #6A6A6A;
}